/* Reset básico para eliminar márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilos generales */
body {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título */
h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #2757be;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-warning {
    background-color: #45a049;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}
